<html>
    <body>
    <h3>Hi,</h3>
        <p style="text-align: justify;">
            All the MG team thank you for registering. You can trust us, you will be the first informed when
            real subscriptions will be available.
        </p>

        <p style="text-align: justify;">
            While waiting, you also can visit our Facebook page by clicking <a
                href="https://www.facebook.com/mistergift.io">here</a>!
        </p>

        <p style="text-align: right;">The MG team.</p>
    </body>
</html>