<html>
    <body>
    <h3>Hi ${user.firstName} ${user.lastName},</h3>
        <p style="text-align: justify;">
            You asked us to give you another password and we thank you for that. To enter your new password, just
            follow the link above.
        </p>

        <p style="text-align: justify;">
            Click or copy-paste to your browser this link <a href="https://mistergift
            .io/reset-password?token=${token}">https://mistergift
                .io/reset-password?token=${token}</a>
        </p>

        <p style="text-align: justify; font-size: 9px;">
            Note: you will have about <strong>${user.password.token.expiration}</strong> seconds to to that.
        </p>

        <p style="text-align: right;">The MG team.</p>
    </body>
</html>